html {
    background-image: url("../images/Tutorial4Images/black.jpeg");
}

body {
    width: 100%;
    max-width: 925px;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: white;
}

img#banner {
    max-width: 100%;
    height: auto;
    width: auto;
    margin: auto;
    display: block;
}

header {
    width: 100%;
    max-width: 925px;
    min-width: 480px;
}

.image {
    width: 100%;
    height: auto;
    max-width: 925px;
    min-width: 480px;
}

ul {
    list-style: none;
    padding: none;
    margin: none;
    width: 100%;
    display: inline;
}

li {
    float: left; 
    max-width: 100%;
    width: 33.3%;
    text-align: center;
}

a:link, :visited {
    display: block;
    padding: 5px 5px 5px 25px;
    background-color: #633;
    color: white;
}

a:hover, :focus {
    background-color: #F93;
    color: #600;
}

article {
    padding: 20px;
    clear: left;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

footer {
    background-color: #948D67;
    padding: 20px;
    clear: left;
}

img#tram {
    width: 400px;
    height: 225px;
}

img#yarra {
    width: 400px;
    height: 225px;
}

table {
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
}

td {
    text-align: center;
}